/***********************************************************/
/***********STYLE EJEMPLO 3 FUNDAMENTOS JS******************/
/**************ESTHER HITOS GARCIA**************************/
/******************** 2ยบ DAW *******************************/
/***********************************************************/



@font-face {
    font-family: titulo;
    src: url(/fundamentosJS-1/fontsMenu/Domine-VariableFont_wght.ttf);
}

@font-face {
    font-family: letra;
    src: url(/fundamentosJS-1/fontsMenu/EncodeSansExpanded-Medium.ttf);
}


* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    background: #DFCCFF;
    margin: 0;
    padding: 0;
    width: 100%;
}

img {
    width: 20px;
    height: 20px;
}

.cuerpo {
    background: #E1D4F7;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 3px 8px #3d000e73, 0 3px 8px #3d000e73;
    width: 60%;
    margin: 10% auto;

}

h1 {
    color: #5918C9;
    text-shadow: 2px 2px 5px #340913;
    font-family: titulo;
    size: 32px;
    padding: 3px;
}

h2 {
    font-family: titulo;
    size: 0.8em;
    padding-bottom: 3px;
    color: #340913;
    text-shadow: 2px 2px 5px #5918C9;
}

.cabezera {
    background: #9C0797;
    text-align: center;
    color: blueviolet;
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: block;
}

.mensaje {
    font-family: titulo;
    width: 100%;
    margin: 0%;
}

.mensaje h1 {
    text-align: left;
    font-family: titulo;
    width: 100%;
    margin: 0%;
    padding: 1%;
}

dl, dt, dd {
    text-align: left;
    color: #340913;
    font-family: letra;
    text-shadow: 2px 2px 5px #525852;
    font-size: 1em;
    padding: 1%;
}

a {
    font-family: letra;
    text-shadow: 2px 2px 5px #525852;
    font-size: 1em;
}

/* unvisited link */
a:link {
    color: #E15676;
}

/* visited link */
a:visited {
    color: #5918C9;
}

/* mouse over link */
a:hover {
    color: #D51A46;
}

/* selected link */
a:active {
    color: #9C0797;
}

footer {
    font-family: letra;
    text-align: center;
    color: #5918C9;
    font-family: letra;
    text-shadow: 2px 2px 5px #525852;
    font-size: 1em;
    background: #340913;
    padding: 0.5%;
}